<h1>New Book</h1>

<%= render "form", book: @book %>


<!--
<form action="/books" method="post"> 
<input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">
<div>
    <label>Title</label>
    <input type="text" name="books[title]">
</div> 
<div> 
    <label>Published</label> 
    <input type='date' name='books[publised]'> 
</div> 
<div> 
    <label>Sales</label> 
    <input type='number' name='books[sales]'> 
</div>
<div> 
    <label>Genre</label> 
    <select name='book[genre]'>
        <option value='1'>Thriller</option>
        <option value='2'>Romcom</option> 
        <option value='3'>Sci-fi</option>
        <option value='4'>Horror</option> 
    </select>
</div> 
<input type=submit value='Create New Book'>

-->
<div>
<h2> Parameters</h2>
<%= @params %>

</div> 
<div>
<h2> Books</h2>
<%= @book.inspect %>

</div> 
</form>
<%= link_to 'Back', books_path %>
